Package: com.ps.ytreexplore
Name: YTReExplore
Version: 1.0.0
Architecture: iphoneos-arm
Description: Remove Shorts tab and replace with Explore tab in YouTube app.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 11.0)
Depiction: https://poomsmart.github.io/repo/depictions/ytreexplore.html
SileoDepiction: https://poomsmart.github.io/repo/sileodepictions/ytreexplore.json
